PyMuPDF
numpy
openai
requests
rank-bm25
scikit-learn
networkx
matplotlib
tqdm
Pillow
faiss-cpu
pandas
ipywidgets
llama-index
llama-index-embeddings-siliconflow
llama-index-llms-siliconflow
llama-index-vector-stores-chroma
llama-index-vector-stores-elasticsearch